<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MesModules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MesModules.Properties.Settings>
            <setting name="MesModules_WebReference_MesAppInterfaceServiceImplService"
                serializeAs="String">
                <value>http://10.125.1.122:8080/calb_mes/ws/mesAppInterfaceWcf</value>
            </setting>
        </MesModules.Properties.Settings>
    </applicationSettings>
</configuration>